{%extends 'LocoRene/base.html' %}

{% load static %}

{%block contenido %}

    <div class="container" style="padding-left: 4%;">
        <div class="row mt-5">

            <div class="col-lg-3">
                <h3>
                    <i class="fa-regular fa-circle-user"></i>
                    <b>Hola, {{ user.username | title }}!</b>
                </h3>
                <div class="btn-group-vertical" style="padding-left: 10%; text-align: center;">
                    <a href="{% url 'historial'%}" class="btn btn-light btn-outline-secondary">Mi perfil</a>
                    <a href="versuscripcion.html" class="btn btn-light btn-outline-secondary">Mi suscripción</a>
                </div>
            </div>

            <div class="col-lg-9">

                <div class="container-fluid mt-2" style="padding-right: 0%;">
                    <table class="table table-borderless table-secondary table-responsive-lg">
                        <thead class="table-secondary">
                            <tr>
                                <th>Nombre</th>
                                <th>Rut</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ user.username | title }}{{ user.lastname | title }}</td>
                                <td>20.512.151-1</td>
                                <td>Nonguen #123, Concepcion</td>
                            </tr>
                        </tbody>
                        <thead class="table-secondary">
                            <tr>
                                <th>Email</th>
                                <th>Región</th>
                                <th><button type="submit" class="btn btn-outline-secondary">Editar</button>
                                    <button type="submit" class="btn btn-outline-secondary">Cerrar Sesión</button>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ user.email }}</td>
                                <td>Bío Bío</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>


        </div>
    </div>

    <div class="container" style="padding-left: 0%;">
        <div class="row mt-5">

            <div class="col-lg-3">
                <h3>
                    <b>Historial de Compras:</b>
                </h3>
            </div>


            <div class="row container">
                <div class="col mt-3" style="padding-left: 0%;">

                    <img src="{% static 'LocoRene/'%}images/bandananegra.png" style="max-width:100%;">

                </div>
                <div class="col mt-5 text-center">
                    <div class="container mt-5">
                        <table class="table table-bordered table-secondary table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>Nombre Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>Subtotal</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bandana Negra</td>
                                    <td>1</td>
                                    <td>$4.590CLP</td>
                                    <td>$4.590CLP</td>
                                    <td>Entregado al Cliente</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
            <div class="row container">
                <div class="col mt-5" style="padding-left: 0%;">

                    <img src="{% static 'LocoRene/'%}images/placaconnombre.jpg" style="max-width:100%;">

                </div>
                <div class="col mt-5 text-center">
                    <div class="container mt-5">
                        <table class="table table-bordered table-secondary table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>Nombre Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>Subtotal</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Placa con Nombre Personalizado</td>
                                    <td>2</td>
                                    <td>$3.990CLP</td>
                                    <td>$7.980CLP</td>
                                    <td>Entregado al Cliente</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            
            <div class="row container">
                <div class="col mt-5" style="padding-left: 0%;">

                    <img src="{% static 'LocoRene/'%}images/correaavenger.png" style="max-width:100%;">

                </div>
                <div class="col mt-5 text-center">
                    <div class="container mt-5">
                        <table class="table table-bordered table-secondary table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>Nombre Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>Subtotal</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Correa estilo Avengers</td>
                                    <td>2</td>
                                    <td>$7.990CLP</td>
                                    <td>$15.980CLP</td>
                                    <td>Entregado al Cliente</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4 style="text-align: right; padding-right: 5%;">
            <a href="estorden.html">Ver mi pedido</a>
        </h4>
        </div>
    </div>
    {% endblock %}
