{%extends 'LocoRene/base.html' %}

{% load static %}

{%block contenido %}

    <div class="row">

        <div class="col-sm-4">

        </div>

        <div class="col-sm-4">
            <h3 class="mt-5" style="text-align: center;">Suscribete</h3>
            <form action="index.html" class="was-validated">
                <div class="row" style="margin-top: 100px;">

                    <div>
                        <p>Seleccion tu metodo de pago:
                        </p>
                        <form>
                            <select class="form-select form-select-lg">
                                <option>Banco Estado</option>
                                <option>Pay Pal</option>
                                <option>Visa</option>
                                <option>Web Pay</option>
                            </select>
                        </form>
                    </div>

                    <div class="col">
                        <div class="col mt-2">
                            <b>
                                <label for="email" style="color: black;">Nombre</label>
                            </b>
                            <input type="username" class="form-control" placeholder="Apellido" name="Nombre" required>
                            <div class="invalid-feedback">El campo no puede estar vacio.</div>
                        </div>
                        <div class="col">
                            <b>
                                <label for="email" style="color: black;">Apellido</label>
                            </b>
                            <input type="username" class="form-control" placeholder="Apellido" name="Apellido" required>
                            <div class="invalid-feedback">El campo no puede estar vacio.</div>
                        </div>
                    </div>

                    <div class="mb-3 mt-3">
                        <b>
                            <label for="pais" style="color: black;">Pais</label>
                        </b>
                        <input type="pais" class="form-control" id="pais" placeholder="Pais" name="pais" name="pais"
                            required>
                        <div class="invalid-feedback">El campo no puede estar vacio.</div>
                    </div>
                    <div class="mb-3">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col">
                                <b>
                                    <label for="varchar" style="color: black;">Nro. Tarjeta</label>
                                </b>
                                <input type="varchar" class="form-control" placeholder="Numero de Tarjeta"
                                    name="Nrotarjeta" required>
                                <div class="invalid-feedback">El campo no puede estar vacio.</div>
                            </div>
                            <div class="col">
                                <b>
                                    <label for="varchar" style="color: black;">Vencimiento</label>
                                </b>
                                <input type="varchar" class="form-control" placeholder="MM/AA" name="Vencimiento"
                                    required>
                                <div class="invalid-feedback">El campo no puede estar vacio.</div>
                            </div>
                            <div class="col">
                                <b>
                                    <label for="number" style="color: black;">CVV</label>
                                </b>
                                <input type="varchar" class="form-control" placeholder="CVV" name="CVV" required>
                                <div class="invalid-feedback">El campo no puede estar vacio.</div>
                            </div>
                        </div>
                    </div>

                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#myModal">
                        Suscribirse

                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title text-center">Gracias por suscribirte!</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <img src="images/perropulgar.jpg" alt=" perro nashe">
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a href="index.html" type="button" class="btn btn-danger">Close</a>
                                </div>

                            </div>
                        </div>
                    </div>

            </form>
        </div>

        <div class="col-sm-4">

        </div>

    </div>

    <div class="mt-5 p-3 jumbocolor text-white" style="text-align: left;">
        <div class="row">

            <div class="col-sm-4">
                <div style="text-align: left;">
                    <i class="fa-brands fa-facebook-square"></i>
                    <button onclick="document.location='https://www.facebook.com/PetSociety'">Nuestro Facebook</button>
                </div>
                <br>
                <div>
                    <i class="fa-brands fa-instagram"></i>
                    <button onclick="document.location='https://www.instagram.com/pet_society_web'">Nuestro
                        Instagram</button>
                </div>
            </div>

            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
    </div>

{% endblock %}