{%extends 'LocoRene/base.html' %}

{% load static %}

{%block contenido %}

    <div class="row container-fluid mt-3">
        <div class="col-lg-3">
            <h3>
                <i class="fa-regular fa-circle-user"></i>
                <b>Hola, {{ user.username | title }}!</b>
            </h3>
            <div class="btn-group-vertical" style="padding-left: 10%; text-align: center;">
                <a href="{% url 'historial' %}" class="btn btn-light btn-outline-secondary">Mi perfil</a>
                <a href="{% url 'versuscripcion' %}" class="btn btn-light btn-outline-secondary">Mi suscripción</a>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="container mt-3">
                <h2>Mi suscripcion</h2>

                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Meses</th>
                            <th>Tipo de suscripcion</th>
                            <th>Estado de la suscripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ user.username | title }}</td>
                            <td>3</td>
                            <td>Premium</td>
                            <td>Activa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container mt-3" style="text-align:center; padding-left: 33%;">
            <a href="suscribirse.html" class="btn btn-primary active">Suscribirse</a>
            <button type="button" class="btn btn-primary active">Cancelar suscripcion</button>
        </div>

        <div class="col-sm-3">
        </div>
</div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% endblock %}