{%extends 'LocoRene/base.html' %}

{% load static %}

{%block contenido %}
    
<div class="container rounded">
    <br>
    <br>
    <br>
    <div class="row">
        {% load crispy_forms_tags %}
        <div class="col-12 col-md-6 offset-md-3">

            <div class="card">

                <div class="card-body">

                    <h2>Registro de usuario</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <a href="{% url 'home' %}" class="btn btn-success">Ir a Home</a>
                        <a href="{% url 'login' %}"class="btn btn-success">Iniciar sesion</a>
                        <input type="submit" value="Registrarse" class="btn btn-success float-right">
                    </form>

                </div>
                
            </div>

        </div>

    </div>

</div>

{% endblock %}
